<div *ngIf="project">
  <div class="navbar">
    <ul class="nav mr-auto">
      <li class="nav-item">
      <li class="nav-item">
        <h2> {{project.name}}</h2>
        <h5> {{project.path}}</h5>
      </li>
    </ul>
    <ul class="nav ml-auto">
      <li class="nav-item">
        <button (click)="projectGitGraph.checkForChanges()" type="button" class="btn btn-primary">
          <i class="fas fa-sync"></i>
        </button>
      </li>
      <li class="nav-item">
        <button (click)="projectGitGraph.pushChanges(project)" type="button" class="btn btn-primary">
          <i class="fas fa-cloud-upload-alt"></i>
        </button>
      </li>
      <li class="nav-item">
        <button type="button" routerLink="/project-detail-edit/{{project.id}}" title="Edit project" class="btn btn-primary "><i class="fas fa-pen"></i></button>
      </li>
    </ul>
  </div>

  <div class="row" *ngIf="project">
    <div class="col-4">

      <div class="row">
        <div class="col-12">
          <img class="project-picture" src="http://alshub.local/picture-api/picture/id/{{project.pictureId}}">
        </div>
      </div>
      <div class="row">
        <div class="col-2">
          Description:
        </div>
        <div class="col-10">
          {{project.description}}
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          External plugins:
        </div>
      </div>
      <div class="row" *ngFor="let device of project.abletonProject.externalDevices">
        <div class="col-2">
          {{device.name}}
        </div>
        <div class="col-10">
          {{device.count}}
        </div>
      </div>
      <div class="row">
        <div class="col-2">
          Created on:
        </div>
        <div class="col-10">
          {{project.abletonProject.creationFileTime}}
        </div>
      </div>

    </div>
    <div class="col-8">
      <app-project-git-graph  [projectId]="project.id"></app-project-git-graph>
    </div>
  </div>
</div>

