<div class="row">
  <div class="col-12">
    <ul class="nav justify-content-end">
      <li class="nav-item">
        <button routerLink="/explorer" type="button" class="btn btn-dark">
          <i class="fas fa-plus-square"></i>
        </button>
      </li>
    </ul>
  </div>
</div>
<div class="row">
  <div class="col-12 card-container">
    <div *ngFor="let project of projects" class="card" style="width: 18rem;">
      <img src="..." class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">{{project.name}}</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a routerLink="/project-detail/{{project.id}}" class="btn btn-primary">Details</a>
      </div>
    </div>
  </div>
</div>
