<div class="row">
  <div class="col-12">
    {{path}}
  </div>
</div>
<div class="row">
  <div class="col-12" (click)="selectParentDir()">
    <i class="fas fa-level-up-alt"></i> ..
  </div>
</div>
<div *ngFor="let item of items">

  <div class="row" >
    <div class="col-6">
      <div (click)="selectDir(item)"><i class="fas fa-folder"></i> {{item.name}}</div>
    </div>
    <div class="col-5">
      <div *ngIf="item.abletonProject" (click)="addProject(item)"><i class="fas fa-plus-square"></i> share</div>
    </div>
  </div>

</div>
