/* You can add global styles to this file, and also import other style files */
@import '~@fortawesome/fontawesome-free/css/all.css';
@import "~angular-notifier/styles";
@import "~react-tree-graph/styles/style.css";


$primary: black;
@import '~bootstrap/scss/bootstrap';


body {
  background-image: url(assets/img/bg.png);
  background-repeat: repeat-y;
  background-position: top;
  background-color: whitesmoke;
  background-size: cover;
}

.content-container {
  margin: 10px 0px 0px 0px;
  background: whitesmoke;
  opacity: 0.8;
  padding: 1rem 1rem 4rem 1rem;
}

.main-container {
  background-color: transparent;
}
