<!--<div class="row navbar-container">-->
<!--  <div class="col-12">-->
<!--    <nav class="navbar navbar-light bg-light">-->
<!--      <a class="navbar-brand" routerLink="/">my projects</a>-->
<!--      <app-spinner></app-spinner>-->
<!--    </nav>-->
<!--  </div>-->
<!--</div>-->

<nav class="navbar fixed-bottom navbar-icon-top navbar-expand-lg navbar-dark bg-dark">
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
       <div class="footer-icon"></div>
      </li>
    </ul>
    <ul class="navbar-nav ml-auto">
      <app-spinner></app-spinner>
    </ul>
  </div>
</nav>
