

.outer-list {
  position: relative;
}

.commit-history-entry:after {
  position: relative;
  height: 40px;
  width: 4px;
  content: "";
  display: block;
  background-color: black;
  left: 28px;
  top: -2px;
}


.commit-history-entry {
  margin-bottom: 10px;
}
