<div class="row" *ngIf="changes">
  <div class="col-12">
    <div class="row" *ngFor="let change of changes">
      <div class="col-6">
        {{change.type}}
      </div>
      <div class="col-6">
        {{change.path}}
      </div>
    </div>
  </div>
</div>
<div class="row" *ngIf="!changes || changes.length == 0">
  <div class="col-12">
    <div class="row">
      <div class="col-12">
        no changes since the last push
      </div>
    </div>
  </div>
</div>
<!--<div #divElement class="row graph-container"></div>-->

<div #divElement
  data="data"
  height="400"
  width="400"></div>

<!--<div *ngIf="commitHistory">-->
<!--  <div class="row commit-history-entry" *ngFor="let commit of commitHistory">-->
<!--    <div class="col-1">-->
<!--      <img *ngIf="commit.checkedOut" src="../../assets/img/circle_green.svg">-->
<!--      <img *ngIf="!commit.checkedOut" src="../../assets/img/circle_blue.svg">-->
<!--    </div>-->
<!--    <div class="col-11">-->
<!--      <div class="row">-->
<!--        <div class="col-12">-->
<!--          {{commit.time}} <br> {{commit.msg}} - {{commit.id}}-->
<!--        </div>-->
<!--      </div>-->
<!--      <div class="row">-->
<!--        <div class="col-12">-->
<!--          <button (click)="restoreCommit(commit)" title="Restore revision" type="button" class="btn btn-primary">-->
<!--            <i class="fas fa-trash-restore"></i>-->
<!--          </button>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->
