
.outer-list {
  position: relative;
}

.commit-history-entry:after {
  position: relative;
  height: 45px;
  width: 4px;
  content: "";
  display: block;
  background-color: black;
  left: 28px;
  top: -45px;
  margin-bottom: -40px;
}


.commit-history-entry {
  margin-bottom: 10px;
}

.graph-container {
  height: 800px;
  height: 100%;
}
