

::ng-deep .picture-gallery .modal-dialog {
  max-height: 80%;
  max-width: 80%;
}

.box-left {
  position: absolute;
  height: 100px;
  width: 100px;
  background-color: #252726;
  top: 0;
  bottom: 0;
  left: 0;
  right: 15px;
  margin: auto;
  cursor: pointer;
  border-radius: 13px;
}

.fa-plus-circle {
  font-size: 65px !important;
  color: #fff;
  margin: 22px 18px;
}

.fa-trash {
  font-size: 65px !important;
  color: #fff;
  margin: 22px 18px;
}

.fa-check {
  font-size: 65px !important;
  color: #000000;
  margin: 15px 10px;

}

.picture-gallery-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 15px;
}

.picture-preview-container {
  width: 25%;
  height: 25%;
  overflow: auto;
  position: relative;
}

.picture-preview-button-container {
  margin: 0 auto;
  width: 100%;
  height: 100%;
  position: absolute;
  background: black;
  opacity: 0;
  transition: opacity 0.3s;
  top: 0;
  left: 0;
}

.picture-preview-button-container:hover {
  opacity: .7;
}

.box {
  margin: 0 auto;
  position: relative;
  top: 50%;
  left: 0%;
}

.upload-wrap {
  position: relative;
  cursor: pointer;
}

.upload-btn {
  position: absolute;
  left: 0;
  opacity: 0;
  cursor: pointer;
}


.banner-picture-preview {
  width: 100%;
  position: relative;
  top: 0;
  left: 0;
}
