<form class="project-meta-edit-form" *ngIf="projectForm" [formGroup]="projectForm">

  <!--  <div class="form-group">-->
  <!--    <label for="exampleInputPassword1">Password</label>-->
  <!--    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">-->
  <!--  </div>-->
  <!--  <div class="form-check">-->
  <!--    <input type="checkbox" class="form-check-input" id="exampleCheck1">-->
  <!--    <label class="form-check-label" for="exampleCheck1">Check me out</label>-->
  <!--  </div>-->

  <div class="row">
    <div class="col-12">
      <div class="form-group">
        <label for="exampleInputEmail1">Project name</label>
        <input formControlName="name" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <!--          <div class="row">-->
      <!--            <div class="col-2">-->
      <!--              Created on:-->
      <!--            </div>-->
      <!--            <div class="col-10">-->
      <!--              {{project.abletonProject.creationFileTime}}-->
      <!--            </div>-->
      <!--          </div>-->


      <div class="row mt-2">
        <div class="col-12">
          <div class="form-group">
            <label for="description">Picture</label>
            <div *ngIf="pictureData">
              <div class="picture-preview-container">
                <img class="banner-picture-preview" src="{{pictureData}}">
                <div class="picture-preview-button-container">
                  <div type='button' ngbTooltip="Löschen" name='delete' (click)="initReset()" class='box'>
                    <div class='box-left'>
                      <i class='but-icon fas fa-trash'></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div *ngIf="!pictureData">
              <div class="row">
                <div class="col-12">
                  <app-picture-gallery (onPictureSelect)="pictureSelectHandler($event)"></app-picture-gallery>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row mt-2">
        <div class="col-12">
          <div class="form-group">
            <label for="description">Description</label>
            <textarea class="form-control" id="description" formControlName="description">what is this project about</textarea>
          </div>
        </div>
      </div>
      <div class="row">

        <div class="col-12">
          <label for="external-plugins-input">External plugins</label>
          <tag-input id="external-plugins-input" formControlName="devices" [identifyBy]="'id'" [displayBy]="'name'"></tag-input>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <label for="genres-input">Genres</label>
          <tag-input id="genres-input" formControlName="genres" [identifyBy]="'id'" [displayBy]="'name'"></tag-input>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <button type="submit" (click)="save()" class="btn btn-primary">Save</button>
        </div>
      </div>
    </div>
  </div>
</form>

